<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>TIME HOUSE</title>
    <link rel="icon" href="/imagem/icone.jpeg" type="image/x-icon" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/css.css">
    <script type="text/javascript" src="/js/cep.js"></script>
    <script type="text/javascript" src="/js/funcoes_cpf.js"></script>
</head>

<header>
    <!--menu basico-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/"><img src="/imagem/housetime.png" width="60" height="60" class="d-inline-block"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="alternanavegacao">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="conteudoNavbarSuportado" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuários</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="usuario/novo">Novo Usuário</a>
                        <a class="dropdown-item" href="/usuario">Lista de Usuários</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produtos</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="produto/novo">Novo Produto</a>
                        <a class="dropdown-item" href="/produto">Lista de Produtos</a>
                    </div>
                </li>
            </ul>
            
        </div>
    </nav>
</header>
<div class="container">
	<section class="aw-layout-content js-content layout-pagina">
			<div class="row">
				<h1 class="titulo-formulario">
					<i class="fas fa-list-ol"></i>
					Listagem de Clientes
				</h1>
			</div>
			
			<div class="alert alert-success alert-dismissible fade show" role="alert"
			th:if="${!#strings.isEmpty(mensagem)}">
			<i class="fa fa-check-circle"></i>
				<span th:text="${mensagem}">
					Mensagem sucesso!
				</span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button>
			</div>
			
			<div class="form-row">
				<div class="table-responsive-sm col-sm-12">
					<table id="tabela-clientes"
						class="table  table-sm table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
						<thead>
							<tr>
								<th class="text-center" scope="col">Código</th>
								<th scope="col">Nome</th>
								<th scope="col">Sobrenome</th>
								<th scope="col">Cpf</th>
								<th scope="col">Nascimento</th>
								<th scope="col">Celular</th>
								<th scope="col">Email</th>
								<th scope="col" class="text-center">Ativo</th>
					
							<th scope="col" class="text-center" 
									sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_CADASTRAR_USUARIO')">
									Ações
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario: ${usuarios}">
								<td class="text-center" th:text="${usuario.id}">123</td>
								<td th:text="${usuario.nome}">123</td>
								<td th:text="${usuario.sobrenome}">123</td>
								<td th:text="${usuario.cpf}">123</td>
								<td th:text="${usuario.dataNascimento}">123</td>
								<td th:text="${usuario.celular}">123</td>
								<td th:text="${usuario.email}">123</td>
								<td class="text-center" th:text="${usuario.ativo}">123</td>
								<td class="text-center" sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_CADASTRAR_USUARIO')">
								
								<form method="POST"	th:action="@{/usuario/excluir/{id}(id=${usuario.id})}">
										<a class="btn btn-primary btn-sm"
											th:href="@{/usuario/editar/{id}(id=${usuario.id})}"
											th:title="Editar"> <i class="fa fa-pencil-alt"></i>
										</a>
										<button th:data-nome="|o usuário ${usuario.nome} com o e-mail ${usuario.email}|" 
												type="submit" class="btn btn-danger btn-sm" 
												onclick="return confirmarExclusao(this.getAttribute('data-nome'))" title="Excluir">
											<span class="far fa-trash-alt"></span>
										</button>
									</form>
								</td>
							</tr>
							<tr>
								<td colspan="5" th:if="${usuarios.empty}">Nenhum cliente
									cadastrado!!</td>
							</tr>
	
						</tbody>
					</table>
				</div>
			</div>
	</section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>