<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>TIME HOUSE</title>
<link rel="icon" href="/imagem/icone.jpeg" type="image/x-icon" />

<link rel="stylesheet" href="/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/css.css">


</head>
</head>
<header>
    <!--menu basico-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="/imagem/housetime.png" width="60" height="60" class="d-inline-block">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="alternanavegacao">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">  
            </ul>  
        </div>
    </nav>
</header>

<body>

			

</body>

</html>