<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/estilo.css">
	<title>Problema no servidor - erro 500</title>
</head>

<body>
	<section class="iit-error-panel aw-layout-content js-content layout-pagina" layout:fragment="content">

		<div class="justify-content-md-center">
			<img src="/imagem/500_error.jpg">

			<h2>Problema no servidor - erro 500</h2>

			<div class="iit-error-panel__description">
				<p>Desculp mas estamos com um problema de acesso ao servidor WEB!</p>
				<p>Tente novamente em alguns segundos ou entre em contato com o nosso suporte.</p>
				<a href="javascript:history.back()" class="btn btn-primary">Voltar
					para onde estava</a>
			</div>
		</div>

	</section>

</body>
</html>